body {
  font-size: 14px;
}
@font-face {
  font-family: "monster_medium";
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "monster_bold";
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "frances";
  src: url(../assets/fonts/Fraunces_9pt-Bold.ttf);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.info h3 {
  display: flex;
  align-self: flex-start;
  text-transform: uppercase;
  color: gray;
  font-family: "frances";
}
.info h1 {
  padding-top: 0.2em;
  font-size: 2.5rem;
  font-family: "monster_bold";
}
.info p {
  padding-top: 1em;
  color: gray;
}
.info h2 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: 0.5em;
  font-size: 3rem;
  color: green;
}
.info h2 span {
  font-size: 1rem;
  color: gray;
  padding-left: 20px;
}
.info button {
  margin-top: 2em;
  color: white;
  background-color: green;
  border-radius: 20px;
  padding: 20px 100px 20px 100px;
}
.info button:hover {
  background-color: darkgreen;
  cursor: pointer;
}
@media only screen and (min-width: 680px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
